<main>
    <h1>Bienvenido</h1>
    <h2>Elija un módulo</h2>
    <section>
        <figure>
            <figcaption>
                <button onclick="router.comerciante.mostrarTodo()">Comerciante</button>
            </figcaption>
        </figure>
        <figure>
            <figcaption>
                <button onclick="router.comerciante.mostrarIndice()">Mayorista</button>
            </figcaption>
        </figure>
        <figure>
            <figcaption>
                <button onclick="router.comerciante.mostrarIndice()">Corporativo</button>
            </figcaption>
        </figure>
    </section>
</main>